<div ng-controller="MBran.SitemapXml.SitemapController">
    <div class="mbran-sitemapxml">
        <div class="umb-property">
            <div class="control-group umb-control-group">
                <label class="control-label">Exclude</label>
                <input type="checkbox"/>
            </div>
            <div class="control-group umb-control-group">
                <label class="control-label">Frequency</label>
                <div class="controls">
                    <div class="umb-property-editor ng-scope">
                        <div class="slider slider-horizontal frequency-slider" ng-click="clickFrequency($event)">
                            <div class="slider-track">
                                <div class="slider-track-low" style="left: 0px; width: 0%;"></div>
                                <div class="slider-selection" style="left: 0%; width: {{ slider.left }};"></div>
                                <div class="slider-track-high" style="right: 0px; width: {{ slider.right }};"></div>
                                <div class="slider-handle min-slider-handle round" tabindex="0" style="left:  {{ slider.left }};"></div>
                                <div class="slider-handle max-slider-handle round hide" tabindex="0" style="left: 0%;"></div>
                            </div>
                            <div class="slider-tick-label-container">
                                <div class="slider-tick-label" ng-repeat="freq in frequencies" >{{ freq.text }}</div>
                            </div>
                        </div>
                        <input type="text" name="slider" class="slider-item" data-value="1" value="1" style="display: none;">
                    </div>
                </div>
            </div>
            <div class="control-group umb-control-group">
                <label class="control-label">Priority</label>
            </div>
        </div>
    </div>
</div>