.mbran-sitemapxml .slider-tick-label {
    width: 54px;
    padding: 0 5px 0 5px;
}

.mbran-sitemapxml .slider.slider-horizontal.frequency-slider {
    width: 450px;
}

.mbran-sitemapxml .slider-tick-label.ng-hide {
    display: block !important;
    visibility: hidden;
}